File requirements untuk Dashboard Analisis SBERT
Framework utama untuk aplikasi web
streamlit

Untuk manipulasi dan analisis data
pandas

Untuk membuat grafik dan visualisasi
plotly

Untuk berinteraksi dengan Google Sheets
gspread
gspread-dataframe

Library utama untuk model SBERT
sentence-transformers

Backend Machine Learning untuk SBERT
torch

Untuk autentikasi dengan Google Cloud/Sheets
google-auth
google-auth-oauthlib
